@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-stroke-color: #35383f;
  --font-color: #ecedf0;
  --btn-color: #1f6fb0;
  --bg-color: #404a65;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.__title {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 900;
  color: var(--font-color);
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
  margin: 2rem 0 0 0;
}

.__subtitle {
  color: var(--font-color);
  font-size: 1.3rem;
  text-align: center;
  margin: 2rem;
  font-weight: 600;
}

.__coin_container {
  min-width: 420px;
  min-height: 200px;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.__coin {
  cursor: pointer;
  animation: bounce 2s infinite;
}
.__shadow {
  margin: 1.5rem 0 0 0;
  animation: shadow_deliation 2s infinite;
}
.__indicator {
  color: var(--font-color);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  animation: turn_over 2s infinite;
}
.__hide {
  display: none;
}
.__result {
  color: var(--font-color);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.__btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.__btn_primary {
  background-color: var(--btn-color);
  color: var(--font-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 4px 0px 0px #23649b;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.__btn_primary:active {
  box-shadow: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes shadow_deliation {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.7;
  }
}

@keyframes turn_over {
  0%,
  100% {
    transform: scale(1);
    transform: rotateZ(-360deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    transform: rotateZ(360deg);
    opacity: 0.7;
  }
}
